@model LearnProject.MvcWebUI.Models.CategoryViewModel
@{
    ViewData["Title"] = "GetCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Styles Files and Links List Start-->
@section Styles {

}
<!-- Styles Files and Links List End-->
<!-- Header Navbar Menu Start-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">List Of Categories</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Operations Menu
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#category-adding-modal">Add Category</a></li>
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#test">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header Navbar Menu End -->
<!-- Category Table Start -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <table id="datatable-buttons" class="table table-striped table-bordered dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Id: activate to sort column descending" style="width: 20px;">Id</th>
                            <th class="sorting_" tabindex="1" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 450px;">Name</th>
                            <th class="sorting" tabindex="2" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="ISActive: activate to sort column ascending" style="width: 100px;">Is Active</th>
                            <th class="sorting" tabindex="3" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="AddedBy: activate to sort column ascending" style="width: 200px;">Added By</th>
                            <th class="sorting" tabindex="4" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="AddedDate: activate to sort column ascending" style="width: 175px; display: none;">Added Date</th>
                            <th rowspan="1" colspan="1" style="width: 50px; display: none" ;>&</th>
                            <th rowspan="1" colspan="1" style="width: 50px; display: none" ;>&</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr role-"row" class="odd">
                                <td class="sorting 1" tabindex="0">@category.Id</td>
                                <td>@category.Name</td>
                                <td>@category.IsActive</td>
                                <td>@category.AddedBy</td>
                                <td>@category.AddedDate</td>
                                <td align="center"><button class="btn btn-info rounded-pill" data-toggle="modal" data-target="#category-updating-modal-1" onclick="editCategory(@category.Id)">Modify</button></td>
                                <td align="center"><button class="btn btn-danger" onclick="deleteCategory(@category.Id)">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Category Table End -->
<!-- Modal Add Category Start -->
<div id="category-adding-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-controller="Category" asp-action="Add" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-plus-circle"></i> Add Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">Name</label>
                                <input asp-for="@Model.Category.Name" type="text" class="form-control" id="Name" placeholder="For example: T-Shirt">
                                <span asp-for="Name"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-purple waves-effect waves-light">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal Add Category End -->


<div class="modal fade" id="category-updating-modal-1" tabindex="-1" data-backdrop="false">
    <div class="modal-dialog">
        <form asp-controller="Category" asp-action="Edit" method="post">
            <input asp-for="@Model.Category.Id" id="categoryId" hidden />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Disabled Backdrop</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">Name</label>
                                <input asp-for="@Model.Category.Name" type="text" class="form-control" id="categoryName" placeholder="Konveksiyonel Fırın">
                                @* <input asp-for="@Model.Category.IsActive" type="text" class="form-control" id="categoryIsActive" /> *@
                            </div>
                        </div>
                    </div></br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group no-margin">
                                <label for="IsActive" class="form-check-label">Is Active -  </label>
                                <input asp-for="@Model.Category.IsActive" class="form-check-input" type="checkbox" bind="Model.Category.IsActive" id="categoryIsActive" />
                                <p>@Model.Category</p>
                                @* <input type="checkbox" id="isActiveCheckbox" bind="@Model.Category.IsActive" /> *@
                                @* value="categoryIsActive" checked="checked"  *@
                                <div id="checkbox-value"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Different Test Modal Start -->
<div class="modal fade" id="test" tabindex="-1" role="dialog" aria-labelledby="test" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>

            </div>
        </div>
    </div>
</div>
<!-- Different Test Modal End -->
<!-- SCRIPTS List Start -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        function editCategory(id) {
            console.log("editCategory Method called id=", id);

            $.get("/Category/Edit", { id: id }).done(function (category) {
                console.log("Category = ", category);
                $('#categoryId').val(category.id);
                $('#categoryName').val(category.name);
                $('#categoryIsActive').val(category.isActive);
                // $('#category-updating-modal').modal("show");
                
                var test = categoryIsActive;
                console.log("categoryIsActive = ", categoryIsActive.value);
            });
        }

        function deleteCategory(id) {
            $.get("/Category/Delete", { id: id }).done(function (result) {
                if (result == 0) {
                    console.log("Xeta!... Proses icra oluna bilmedi!");
                    // swal("Xeta!", "Proses icra oluna bilmedi!", "warning");
                }
                else {
                    console.log("Ugurlu!... Proses icra olundu!");
                    // swal("Ugurlu!", "Proses icra olundu!", "success");
                }
            });
        }
    </script>
    <script>
        $("#categoryIsActive").on('change', function () {
            console.log("categoryIsActive = ", categoryIsActive.value);
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
            } else {
                $(this).attr('value', 'false');
            }

            $('#checkbox-value').text($('#categoryIsActive').val());
        });
    </script>
}
<!-- SCRIPTS List End -->
<!-- jQuery SCRIPTS List Start -->
<!-- jQuery SCRIPTS List End -->
